In [1]:
import os
import pandas as pd

path = os.getcwd()+'/'
print path

from sklearn import preprocessing

/home/aakash/PycharmProjects/Code Gladiators-Invesco-DataSet/

In [2]:
tran = pd.read_csv(path+'Code-Gladiators-Transaction.csv')
trans = tran
trans.drop('Code_1',axis='columns',inplace=True)
trans.drop('Code_2',axis='columns',inplace=True)
trans.drop('Code_3',axis='columns',inplace=True)
trans.drop('Code_4',axis='columns',inplace=True)
trans.drop('Code_5',axis='columns',inplace=True)
trans.drop('Amount',axis='columns',inplace=True)

trans_lbl = preprocessing.LabelEncoder()
trans['Transaction_Type'] = trans_lbl.fit_transform(trans['Transaction_Type'])

trans.head()

   Unique_Advisor_Id  Unique_Investment_Id      Month  Transaction_Type
0            1000103                 20058  2016 / 01                 0
1            1000103                 20058  2016 / 01                 0
2            1000103                 20058  2016 / 01                 0
3            1000103                 20058  2016 / 02                 0
4            1000103                 20058  2016 / 02                 0

In [3]:
invest = pd.read_csv(path+'Code-Gladiators-InvestmentExperience.csv')
invest.head()
invest.describe()
invt_rip = invest
invt_rip.drop('Investment',axis='columns',inplace=True)
invt_rip.drop('1 Yr % Rank',axis='columns',inplace=True)
invt_rip.drop('3 Yr % Rank',axis='columns',inplace=True)
invt_rip.drop('5 Yr % Rank',axis='columns',inplace=True)
invt_rip.drop('10 Yr % Rank',axis='columns',inplace=True)
invt_rip.drop('1 Yr Return',axis='columns',inplace=True)
invt_rip.drop('3 Yr Return',axis='columns',inplace=True)
invt_rip.drop('5 Yr Return',axis='columns',inplace=True)
invt_rip.drop('10 Yr Return',axis='columns',inplace=True)
invt_rip.drop('1 Yr Excess Return vs Primary Ix',axis='columns',inplace=True)
invt_rip.drop('3 Yr Excess Return vs Primary Ix',axis='columns',inplace=True)
invt_rip.drop('5 Yr Excess Return vs Primary Ix',axis='columns',inplace=True)
invt_rip.drop('10 Yr Excess Return vs Primary Ix',axis='columns',inplace=True)
invt_rip.drop('1 Yr Excess Return vs Category Ix',axis='columns',inplace=True)
invt_rip.drop('3 Yr Excess Return vs Category Ix',axis='columns',inplace=True)
invt_rip.drop('5 Yr Excess Return vs Category Ix',axis='columns',inplace=True)
invt_rip.drop('10 Yr Excess Return vs Category Ix',axis='columns',inplace=True)
invt_rip.isnull().sum()
# invt_rip.head()

/usr/local/lib/python2.7/dist-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

Unique_Investment_Id       0
Morningstar Category       0
Month                      0
Rating                  2683
Net Flows                  0
dtype: int64

In [4]:
print invt_rip['Rating'].value_counts()
# print invt_rip['Rating'].isnull().sum()
# print invt_rip['Net Flows'].value_counts()
# print invt_rip['Net Flows'].isnull().sum()
# print invt_rip['Morningstar Category'].value_counts()
# print invt_rip['Morningstar Category'].isnull().sum()

morc_lbl = preprocessing.LabelEncoder()
net_lbl = preprocessing.LabelEncoder()

invt_rip['Rating'][invt_rip['Rating'].isnull()] = 3.0
# invt_rip['Net Flows'][invt_rip['Net Flows'].isnull()] = 9
# invt_rip['Morningstar Category'][invt_rip['Morningstar Category'].isnull()] = 28
invt_rip['Net Flows'] = pd.cut(invt_rip['Net Flows'],100)
invt_rip['Morningstar Category'] = morc_lbl.fit_transform(invt_rip['Morningstar Category'])
invt_rip['Net Flows'] = net_lbl.fit_transform(invt_rip['Net Flows'])

print invt_rip.isnull().sum()
# invt_rip.describe()
invt_rip.head()

3.0    3952
2.0    3375
4.0    2198
1.0    1267
5.0     733
Name: Rating, dtype: int64
Unique_Investment_Id    0
Morningstar Category    0
Month                   0
Rating                  0
Net Flows               0
dtype: int64

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

   Unique_Investment_Id  Morningstar Category      Month  Rating  Net Flows
0                 11517                     4  2015 / 01     2.0          9
1                 11517                     4  2015 / 02     2.0          9
2                 11517                     4  2015 / 03     2.0          9
3                 11517                     4  2015 / 04     2.0         31
4                 11517                     4  2015 / 05     2.0         31

In [5]:
# print trans.head()
trans_club = pd.merge(trans,invt_rip,how='left',on=['Unique_Investment_Id','Month'])
print trans_club.head()
print trans_club.isnull().sum()
trans_club.drop('Month', axis='columns',inplace=True)
print trans_club.describe()
pd.crosstab(trans_club.Rating, trans_club.Transaction_Type, margins=True)
trans_club_bkp = trans_club

   Unique_Advisor_Id  Unique_Investment_Id      Month  Transaction_Type  \
0            1000103                 20058  2016 / 01                 0
1            1000103                 20058  2016 / 01                 0
2            1000103                 20058  2016 / 01                 0
3            1000103                 20058  2016 / 02                 0
4            1000103                 20058  2016 / 02                 0

   Morningstar Category  Rating  Net Flows
0                  28.0     1.0        8.0
1                  28.0     1.0        8.0
2                  28.0     1.0        8.0
3                  28.0     1.0       24.0
4                  28.0     1.0       24.0
Unique_Advisor_Id           0
Unique_Investment_Id        0
Month                       0
Transaction_Type            0
Morningstar Category    11695
Rating                  11695
Net Flows               11695
dtype: int64
       Unique_Advisor_Id  Unique_Investment_Id  Transaction_Type  \
count       1.637220e+05         163722.000000     163722.000000
mean        8.926886e+05           7604.987070          0.581895
std         2.074129e+05           6232.773002          0.493249
min         1.224300e+04           2189.000000          0.000000
25%         7.715410e+05           4021.000000          0.000000
50%         9.577260e+05           4021.000000          1.000000
75%         1.039305e+06           9278.000000          1.000000
max         1.123982e+06          20058.000000          1.000000

       Morningstar Category         Rating      Net Flows
count         152027.000000  152027.000000  152027.000000
mean              26.348741       3.329849      16.560519
std               15.505552       0.944047       8.581884
min                1.000000       1.000000       4.000000
25%                     NaN            NaN            NaN
50%                     NaN            NaN            NaN
75%                     NaN            NaN            NaN
max               57.000000       5.000000      61.000000

In [6]:
# trans_club = trans_club_bkp
print trans_club.Rating.value_counts()
print trans_club['Morningstar Category'].value_counts()
print trans_club['Net Flows'].value_counts()

trans_club['Morningstar Category'][trans_club['Morningstar Category'].isnull()==True] = 28 #average based on investment file
trans_club['Rating'][trans_club['Rating'].isnull()==True] = 3.0 #average based on investment file
trans_club['Net Flows'][trans_club['Net Flows'].isnull()==True] = 9 #average based on investment file
# # trans_club.describe()
trans_club.isnull().sum()
# print trans_club['Net Flows'].value_counts()
# pd.crosstab(trans_club.Month,trans_club.Transaction_Type, margins=True)
# pd.crosstab(trans.Unique_Investment_Id, trans.Transaction_Type, margins=True)

4.0    89367
3.0    29100
2.0    23859
1.0     8691
5.0     1010
Name: Rating, dtype: int64
18.0    90214
51.0    31573
5.0      8301
14.0     7207
57.0     5504
28.0     4136
42.0     2338
34.0     2243
52.0      464
25.0       27
26.0       17
1.0         3
Name: Morningstar Category, dtype: int64
20.0    64590
9.0     59203
24.0    12730
31.0     3496
7.0      2509
48.0     2256
8.0      1832
57.0     1623
11.0     1136
4.0       979
12.0      591
13.0      310
10.0      310
29.0      231
37.0      206
36.0        6
58.0        6
61.0        2
60.0        1
17.0        1
14.0        1
35.0        1
44.0        1
46.0        1
49.0        1
51.0        1
55.0        1
59.0        1
34.0        1
Name: Net Flows, dtype: int64

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Unique_Advisor_Id       0
Unique_Investment_Id    0
Transaction_Type        0
Morningstar Category    0
Rating                  0
Net Flows               0
dtype: int64

In [7]:
print pd.crosstab(trans_club['Net Flows'], trans_club.Transaction_Type, margins=True, normalize=True)
trans_club.head()
# trans_club[trans_club['Unique_Advisor_Id']==1000103]

Transaction_Type         0         1       All
Net Flows
4.0               0.001814  0.004166  0.005980
7.0               0.005467  0.009858  0.015325
8.0               0.002901  0.008288  0.011190
9.0               0.222908  0.210131  0.433039
10.0              0.000446  0.001448  0.001893
11.0              0.003634  0.003304  0.006939
12.0              0.001906  0.001704  0.003610
13.0              0.001545  0.000348  0.001893
14.0              0.000006  0.000000  0.000006
17.0              0.000006  0.000000  0.000006
20.0              0.122965  0.271546  0.394510
24.0              0.031291  0.046463  0.077754
29.0              0.000660  0.000751  0.001411
31.0              0.011306  0.010048  0.021353
34.0              0.000006  0.000000  0.000006
35.0              0.000006  0.000000  0.000006
36.0              0.000006  0.000031  0.000037
37.0              0.000641  0.000617  0.001258
44.0              0.000006  0.000000  0.000006
46.0              0.000006  0.000000  0.000006
48.0              0.006346  0.007433  0.013779
49.0              0.000006  0.000000  0.000006
51.0              0.000006  0.000000  0.000006
55.0              0.000006  0.000000  0.000006
57.0              0.004184  0.005729  0.009913
58.0              0.000006  0.000031  0.000037
59.0              0.000006  0.000000  0.000006
60.0              0.000006  0.000000  0.000006
61.0              0.000012  0.000000  0.000012
All               0.418105  0.581895  1.000000

,Unique_Advisor_Id,Unique_Investment_Id,Transaction_Type,Morningstar Category,Rating,Net Flows
0,1000103,20058,0,28.0,1.0,8.0
1,1000103,20058,0,28.0,1.0,8.0
2,1000103,20058,0,28.0,1.0,8.0
3,1000103,20058,0,28.0,1.0,24.0
4,1000103,20058,0,28.0,1.0,24.0

In [8]:

trans_club['Morningstar Category'].value_counts()

18.0    90214
51.0    31573
28.0    15831
5.0      8301
14.0     7207
57.0     5504
42.0     2338
34.0     2243
52.0      464
25.0       27
26.0       17
1.0         3
Name: Morningstar Category, dtype: int64

In [9]:
train = trans_club.as_matrix(columns=['Unique_Advisor_Id','Unique_Investment_Id','Morningstar Category','Rating','Net Flows'])
# result = trans_club.as_matrix(columns=['Transaction_Type'])
result = trans_club['Transaction_Type'].values
print train.shape
print result.shape
print result.ndim
print train[:5]
result[:100]

(163722, 5)
(163722,)
1
[[  1.00010300e+06   2.00580000e+04   2.80000000e+01   1.00000000e+00
    8.00000000e+00]
 [  1.00010300e+06   2.00580000e+04   2.80000000e+01   1.00000000e+00
    8.00000000e+00]
 [  1.00010300e+06   2.00580000e+04   2.80000000e+01   1.00000000e+00
    8.00000000e+00]
 [  1.00010300e+06   2.00580000e+04   2.80000000e+01   1.00000000e+00
    2.40000000e+01]
 [  1.00010300e+06   2.00580000e+04   2.80000000e+01   1.00000000e+00
    2.40000000e+01]]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0])

In [10]:
# from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

# mlp = MLPClassifier(hidden_layer_sizes=(10,),solver='sgd',learning_rate_init=0.05,max_iter=5000)
mlp = RandomForestClassifier(max_depth=25, n_estimators=200)
mlp.fit(train,result)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=25, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=200, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [11]:
predictions = mlp.predict(train)
pred_prob = mlp.predict_proba(train)
print predictions[:100]
print pred_prob[:100]
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(result,predictions))

print (classification_report(result,predictions))

[0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 0 0 0 1 1 1 0
 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1]
[[ 1.          0.        ]
 [ 1.          0.        ]
 [ 1.          0.        ]
 [ 1.          0.        ]
 [ 1.          0.        ]
 [ 1.          0.        ]
 [ 0.95603262  0.04396738]
 [ 0.95603262  0.04396738]
 [ 0.95603262  0.04396738]
 [ 0.3027757   0.6972243 ]
 [ 0.3027757   0.6972243 ]
 [ 1.          0.        ]
 [ 1.          0.        ]
 [ 1.          0.        ]
 [ 0.78202381  0.21797619]
 [ 0.65577605  0.34422395]
 [ 0.65577605  0.34422395]
 [ 1.          0.        ]
 [ 1.          0.        ]
 [ 1.          0.        ]
 [ 0.48826218  0.51173782]
 [ 0.64401942  0.35598058]
 [ 0.64401942  0.35598058]
 [ 0.64401942  0.35598058]
 [ 0.64401942  0.35598058]
 [ 0.64401942  0.35598058]
 [ 0.64401942  0.35598058]
 [ 0.30027118  0.69972882]
 [ 0.30027118  0.69972882]
 [ 0.30027118  0.69972882]
 [ 0.99166667  0.00833333]
 [ 0.99166667  0.00833333]
 [ 0.99166667  0.00833333]
 [ 0.3027757   0.6972243 ]
 [ 0.3027757   0.6972243 ]
 [ 0.48826218  0.51173782]
 [ 0.64401942  0.35598058]
 [ 0.64401942  0.35598058]
 [ 0.64401942  0.35598058]
 [ 0.65577605  0.34422395]
 [ 0.65577605  0.34422395]
 [ 0.59874875  0.40125125]
 [ 0.59874875  0.40125125]
 [ 0.59874875  0.40125125]
 [ 0.59874875  0.40125125]
 [ 0.59874875  0.40125125]
 [ 0.34729138  0.65270862]
 [ 0.99598438  0.00401563]
 [ 0.99598438  0.00401563]
 [ 0.99598438  0.00401563]
 [ 0.99493421  0.00506579]
 [ 0.99493421  0.00506579]
 [ 0.99493421  0.00506579]
 [ 0.59874875  0.40125125]
 [ 0.59874875  0.40125125]
 [ 0.59874875  0.40125125]
 [ 0.59874875  0.40125125]
 [ 0.59874875  0.40125125]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.33541987  0.66458013]
 [ 0.33541987  0.66458013]
 [ 0.33541987  0.66458013]
 [ 0.33541987  0.66458013]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34901044  0.65098956]
 [ 0.34901044  0.65098956]
 [ 0.34901044  0.65098956]
 [ 0.34901044  0.65098956]
 [ 0.34901044  0.65098956]
 [ 0.4607      0.5393    ]
 [ 0.4607      0.5393    ]
 [ 0.33541987  0.66458013]
 [ 0.33541987  0.66458013]
 [ 0.33541987  0.66458013]
 [ 0.50321609  0.49678391]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.34706853  0.65293147]
 [ 0.26082701  0.73917299]
 [ 0.26082701  0.73917299]
 [ 0.26082701  0.73917299]
 [ 0.26082701  0.73917299]
 [ 0.26082701  0.73917299]
 [ 0.26082701  0.73917299]]
[[39259 29194]
 [12731 82538]]
             precision    recall  f1-score   support

          0       0.76      0.57      0.65     68453
          1       0.74      0.87      0.80     95269

avg / total       0.75      0.74      0.74    163722

In [55]:
from sklearn.model_selection import GridSearchCV
from time import time
rf = RandomForestClassifier()
from reports import Report

param_grid = {"max_depth": [5, None],
#               "max_features": [1, 3, 10],
#               "min_samples_split": [1, 3, 10],
              "min_samples_leaf": [1, 3, 10],
              "bootstrap": [True, False],
              "n_estimators": [50,100,150,200],
              "criterion": ["gini", "entropy"]}

# run grid search
grid_search = GridSearchCV(rf, param_grid=param_grid)

start = time()
grid_search.fit(train, result)
print("GridSearchCV took %.2f seconds for %d candidate parameter settings."
      % (time() - start, len(grid_search.cv_results_['params'])))

print(grid_search.best_params_)
means = grid_search.cv_results_['mean_test_score']
stds = grid_search.cv_results_['std_test_score']
for mean, std, params in zip(means, stds, grid_search.cv_results_['params']):
    print("%0.3f (+/-%0.03f) for %r" % (mean, std * 2, params))
# report(grid_search.cv_results_)

GridSearchCV took 3255.37 seconds for 96 candidate parameter settings.

NameError: name 'clf' is not defined

In [34]:
test = pd.read_csv('test_data.csv')
# test.head()
test['Month']='2016 / 12'
# test.head()
test_new = pd.merge(test,invt_rip, how='left',on=['Unique_Investment_Id','Month'])
print test_new.head()
test_new.isnull().sum()

   Unique_Advisor_Id  Unique_Investment_Id      Month  Morningstar Category  \
0            1000103                 14147  2016 / 12                  28.0
1            1000103                  3534  2016 / 12                  28.0
2            1000103                  3651  2016 / 12                  16.0
3            1000103                  7668  2016 / 12                  14.0
4            1000103                  9339  2016 / 12                  46.0

   Rating  Net Flows
0     5.0       11.0
1     3.0       11.0
2     3.0        8.0
3     5.0       20.0
4     4.0        4.0

Unique_Advisor_Id         0
Unique_Investment_Id      0
Month                     0
Morningstar Category    433
Rating                  433
Net Flows               433
dtype: int64

In [35]:
# print test['Morningstar Category'].value_counts()
# print test['Rating'].value_counts()
# print test['Net Flows'].value_counts()

test_new['Morningstar Category'][test_new['Morningstar Category'].isnull()==True] = 28 #average based on investment file
test_new['Rating'][test_new['Rating'].isnull()==True] = 3.0 #average based on investment file
test_new['Net Flows'][test_new['Net Flows'].isnull()==True] = 9 #average based on investment file

print test_new.isnull().sum()
print test_new.shape
test_new.head()

# test['Morningstar Category'] = morc_lbl.transform(test['Morningstar Category'])
# # test['Net Flows'] = net_lbl.transform(test['Net Flows'])
# test['Net Flows'].describe()

Unique_Advisor_Id       0
Unique_Investment_Id    0
Month                   0
Morningstar Category    0
Rating                  0
Net Flows               0
dtype: int64
(8714, 6)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,Unique_Advisor_Id,Unique_Investment_Id,Month,Morningstar Category,Rating,Net Flows
0,1000103,14147,2016 / 12,28.0,5.0,11.0
1,1000103,3534,2016 / 12,28.0,3.0,11.0
2,1000103,3651,2016 / 12,16.0,3.0,8.0
3,1000103,7668,2016 / 12,14.0,5.0,20.0
4,1000103,9339,2016 / 12,46.0,4.0,4.0

In [36]:
import numpy as np

test_npy = trans_club.as_matrix(columns=['Unique_Advisor_Id','Unique_Investment_Id','Morningstar Category','Rating','Net Flows'])

# predictions = mlp.predict(test_npy)
# prediction_prob = mlp.predict_proba(test_npy)[:,[1]]
# test_out['Redeem_Status'] = ['']*[test_npy.shape]

test_out = test

ndf = pd.DataFrame(np.nan, index=range(test_npy.shape[0]), columns=['Propensity_Score'])
print ndf.shape
ndf['Propensity_Score'] = mlp.predict_proba(test_npy)[:,[1]]
test_out['Propensity_Score'] = ndf['Propensity_Score']

ndf = pd.DataFrame(np.nan, index=range(test_npy.shape[0]), columns=['Redeem_Status'])
print ndf.shape
ndf['Redeem_Status'] = mlp.predict(test_npy)
test_out['Redeem_Status'] = ndf['Redeem_Status']

test_out.drop('Month',axis='columns',inplace=True)

print test_out.shape
# print predictions.shape
# print prediction_prob.shape

# test_out['Redeem_Status'] = predictions
# test_out['Propensity_Score'] = prediction_prob
test_out['Redeem_Status'][test_out['Redeem_Status']==0] = 'NO'
test_out['Redeem_Status'][test_out['Redeem_Status']==1] = 'YES'
print test_out.head()

test_out.to_csv('sample_output.csv')

(163722, 1)
(163722, 1)
(8714, 4)
   Unique_Advisor_Id  Unique_Investment_Id  Propensity_Score Redeem_Status
0            1000103                 14147               0.0            NO
1            1000103                  3534               0.0            NO
2            1000103                  3651               0.0            NO
3            1000103                  7668               0.0            NO
4            1000103                  9339               0.0            NO

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy